<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Policy App</title>

    <!---CDN Links-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <script>
        window.addEventListener("load", function () {
            document.getElementById('_handlersA').style.color = 'Aqua';
        })
    </script>

    <div>
        <div class="container">
            {{{header}}}
            <div id="init" class="jumbotron">
                <p>Handler Classes</p>
            </div>
        </div>
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        {{#each handlers.[0]}}
                        <th>{{@key}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each handlers}}
                    <tr>
                        {{#each this}}

                        <td>
                            {{{this}}}
                        </td>

                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>