<div>

    <nav class="navbar navbar-inverse" role="navigation" style="background: black; padding-left:20px;">
            <ul class="nav navbar-nav">
                <li id="_home" style="margin-right: 20px;">
                    <a href="/"><img width="48px" src="octo-head-blink.gif"/></a>
                </li>    
                <li id="_policies" >
                    <a id="_activity" href="/activity" style="padding-top: 30px">ACTIVITY</a>
                </li>            
                <li id="_builder" >
                    <a id="_category" href="/category" style="padding-top: 30px">CATEGORY</a>
                </li>
            </ul>

    </nav>
</div>