<div>
    <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
            <li id="_init" ><a id="_initA" href="/policy-App">HOME</a></li>
            <li id="_policies" ><a id="_policiesA" href="/policy-App/policies">POLICIES</a></li>            
            <li id="_builder" ><a id="_builderA" href="/policy-App/builder">BUILDER</a></li>
            <li id="_samples" ><a id="_samplesA" href="/policy-App/samples">SAMPLES</a></li>
            <li id="_handlers" ><a id="_handlersA" href="/policy-App/handlers">HANDLERS</a></li>

        </ul>
    </nav>
</div>