<!DOCTYPE html>
<html>
    <head>
        <title>Issue Patrol</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="common.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container">
            {{{header}}}
        </div>
        <div class="container">
            <div id="init" class="jumbotron">
                <p>Issue Patrol</p>
            </div>
        </div>
    </body>
</html>